body#myneu {
    padding: 0;
    margin: 0;
    background-color: #EEE;
    font-size: 13px;
}

#myneu-container {
    padding: 20px 10px;
    margin: 0 auto;
    width: 90%;
    background-color: white;
    display: none;

    #left {
        width: 63%;
    }

    #right {
        width: 24%;
    }
}

#search-panel {
    select {
        width: 40%;
        height: 34px;
        display: inline-block;
        border-radius: 0;
        border-color: gray;
        background-color: white;
    }
}

.course-panel {
    border: solid 1px rgb(240, 239, 236);
    margin-top: 20px;

    .title {
        background-color: rgb(240, 239, 236);
        color: #660000;
        padding: 5px 7px;
        margin: 0;
    }

    .content {
        padding: 5px 10px;
    }
}