<div id="myneu-container" ng-controller="mainCtrl">
  <div id="left">
    <div id="search-panel" ng-controller="searchCtrl">
      <select ng-model="activeTerm" ng-change="onSelectTerm()"
              ng-options="term.name for term in terms">
        <option value="">Please select a term</option>
      </select>
      <select ng-model="activeSubject" ng-change="onSelectSubject()"
              ng-options="subj.name for subj in subjects">
        <option value="">Please select a subject</option>
      </select>
    </div>

    <div id="course-list" ng-controller="courseCtrl">
      <div ng-repeat="course in courses" class="course-panel">
        <h3 class="title" ng-click="">{{ course.id }} - {{ course.name }}</h3>
        <table class="content">
          <thead>
            <tr>
              <th>&nbsp;</th>
              <th>Section</th>
              <th>Name</th>
              <th>Credit</th>
              <th>Days</th>
              <th>Time</th>
              <th>Reg Status</th>
              <th>Waiting List</th>
              <th>Instructor</th>
              <th>Location</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="section in course.sections" ng-if="course.sections.length">
              <td><input type="checkbox" ng-change="onSelectSection(section)" ng-model="section.selected" /></td>
              <td>{{ section.section }}</td>
              <td>{{ section.name }}</td>
              <td>{{ section.credit }}</td>
              <td>{{ section.days }}</td>
              <td>{{ section.time }}</td>
              <td>{{ section.active }}/{{ section.capacity }}</td>
              <td>{{ section.wlactive }}/{{ section.wlcapacity }}</td>
              <td>{{ section.instructor }}</td>
              <td>{{ section.location }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div id="right">
    <div id="dashboard-panel" ng-controller="dashboardCtrl">
      <span>Selected Courses</span>
      <table>
        <thead>
          <tr>
            <th>Course</th>
            <th>Title</th>
            <th>Section</th>
            <th>Credit</th>
            <th>Operation</th>
          </tr>
        </thead>

        <tbody>
          <tr ng-repeat="section in sections" ng-if="sections.length">
            <td>{{ section.course }}</td>
            <td>{{ section.name }}</td>
            <td>{{ section.section }}</td>
            <td>{{ section.credit }}</td>
            <td><img ng-click="removeSection(section)" src="chrome-extension://aaejgfabhekajlcjmfhdopmndakgejpf/img/glyphicons_016_bin.png" width="15" height="15" /></td>
          </tr>
        </tbody>
      </table>

      <div>
        <button ng-click="applyChanges()" ng-class="{ disable: !changed }">Apply</button>
        <button ng-click="reset()" class="gray">Reset</button>
      </div>
    </div>
  </div>

  <div style="clear: both" />
</div>
